body {
    background-color: black;
    width: 100%;
}

* {
    margin: 0px;
    position: absolute;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
    box-sizing: border-box;
}

:root {
    --config-color: rgb(212, 212, 47);
    --type-background: #ffffff;
    --type-color: #000000;
    --jp-opacity: 1;
    --en-opacity: 0;
}

.jp {
    opacity: var(--jp-opacity);
}

.en {
    opacity: var(--en-opacity);
}



#main, #info {
    opacity: 100%;
}


#info {
    background-color: white;
    text-align: center;
    height: 780px;
    width: 1920px;
}



/* #menu {
    background-color: black;
    height: 3em;
    color: white;
} */

.letter-2 {
    /* scale: 87% 100%; */
    letter-spacing: 1em;
    text-indent: 0.5em;
}

.letter-3 {
    /* scale: 87% 100%; */
    letter-spacing: 0.5em;
}

.letter-5 {
    scale: 87% 100%;
    letter-spacing: -0.08em;
}

.letter-6 {
    scale: 71% 100%;
    letter-spacing: -0.08em;
}

.letter-7 {
    scale: 64% 100%;
    letter-spacing: -0.12em;
}


.letter-2-in-5 {
    /* scale: 87% 100%; */
    letter-spacing: 2em;
    text-indent: 0.5em;
}

.letter-3-in-5 {
    /* scale: 87% 100%; */
    letter-spacing: 0.5em;
    text-indent: 0.25em;
}

.letter-4-in-5 {
    /* scale: 87% 100%; */
    /* letter-spacing: -0.08em; */
    text-indent: 0.5em;
}

.letter-6-in-5 {
    scale: 90% 100%;
    letter-spacing: -0.08em;
}

.letter-7-in-5 {
    scale: 80% 100%;
    letter-spacing: -0.12em;
}

.v-letter-2 {
    /* scale: 87% 100%; */
    letter-spacing: 2em;
    /* text-indent: 0.5em; */
}

.v-letter-3 {
    /* scale: 87% 100%; */
    letter-spacing: 0.5em;
    /* text-indent: 0.5em; */
}

.v-letter-5 {
    scale: 100% 90%;
    letter-spacing: -0.1em;
    /* text-indent: 0.5em; */
}

.v-letter-6 {
    scale: 100% 75%;
    letter-spacing: -0.1em;
    /* text-indent: 0.5em; */
}

.v-letter-7 {
    scale: 100% 66%;
    letter-spacing: -0.12em;
    /* text-indent: 0.5em; */
}


#bg, #bgimg {
    top: 0px;
    width: 1920px;
    opacity: 50%;
}



#detail-map {
    /* border: solid; */
    display: flex;
    justify-content: left;
    left: 100px;
    height: 730px;
    width: 1660px;
}


.dmc {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: solid; */
    width: 12.5%;
    height: 100%;
}

.dmc-sta-name.jp {
    /* border: solid; */
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-size: 77px;
    top: 30px;
    height: 325px;
    transform-origin: top;
    position: absolute;
    translate: -55%;
}

.dmc-sta-name.en {
    /* border: solid; */
    font-size: 69px;
    top: 330px;
    height: 80px;
    transform-origin: left top;
    left: 67px;
    rotate: -64deg;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
    font-weight: 550;
}

.dmc-sta-name.en.two-row {
    left: 25px;
    height: 150px;
    text-indent: -0.5em;
    padding-left: 0.5em;
    white-space: pre;
}

.grey {
    color: grey;
}

.dmc-line-l, .dmc-line-r {
    /* border: solid; */
    top: 360px;
    width: 50%;
    height: 113px;
    background: var(--config-color);
}

.dmc-line-l {
    left: 0px;
    /* background: grey; */
}

.dmc-line-r {
    right: 0px;
}

.dmc-line-l.grey, .dmc-line-r.grey {
    background: grey !important;
}

.dmc-numbering {
    border: solid;
    top: 480px;
    /* left: 53px; */
    width: 65px;
    height: 65px;
    border-color: var(--config-color);
    border-radius: 5px;
    border-width: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.dmc-numbering-line-code {
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
}

.dmc-numbering-sta-number {
    top: 20px;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
}

.dmc-circle {
    top: 368px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    /* border: solid; */
    font-family: "Public Sans", sans-serif;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: -0.06em;
    text-indent: -0.04em;
    background: white;
}

/* .dmc-circle.grey {
    width: 30px;
    height: 30px;
    top: 400px;
} */

.dmc-circle.now, .dmc-circle.grey {
    width: 50px;
    height: 50px;
    top: 393px;
}

.dmc-circle.next {
    background: yellow;
    border: solid 5px white;
}

.dmc-circle.pass {
    background: grey;
    border-radius: unset;
    clip-path: polygon(35% 10%, 45% 10%, 75% 50%, 45% 90%, 35% 90%, 65% 50%);
}
.dmc-circle.passed {
    background: white;
    border-radius: unset;
    clip-path: polygon(35% 10%, 45% 10%, 75% 50%, 45% 90%, 35% 90%, 65% 50%);
    /* clip-path: polygon(35% 10%, 55% 10%, 75% 50%, 55% 90%, 35% 90%, 55% 50%); */
}

.marker-border, .marker-main {
    visibility: hidden;
}



.marker-border {
    width: 200px;
    height: 140px;
    top: 347px;
    left: 0px;
    background: white;
}

.marker-main {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 9px;
    background: red;
}

.marker-border.running {
    left: -70px;
    width: 130px;
}
.marker-main.running {
    width: calc(100% - 25px);
    left: 16.5px
}

.marker-main.running, .marker-border.running {
    visibility: visible;
    clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%, 40% 50%);
}

.marker-main.stopping, .marker-border.stopping {
    visibility: visible;
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}